/.gradle/
/.idea/
/trimesh/build/
/trimesh-natives/libs/freeglut/
/trimesh-natives/libs/freeglut.zip
/trimesh-natives/src/main/headers/
/trimesh-natives/build/
/binvox/build/
/core/build/
/core-natives/src/main/headers/
/core-natives/build/
